name: "Build and publish"

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [windows-2019]
        compiler: [msvc, clang]

    steps:
      - name: Get source code
        uses: actions/checkout@v2

      - name: Install python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9.6'
          architecture: 'x64'

      - name: Install conan
        run: |
          pip install wheel setuptools
          pip install conan

      - name: Setup conan.conf
        shell: pwsh
        run: |
          $env:CONAN_USER_HOME=$(Get-Location)
          conan remote add gitlab https://gitlab.com/api/v4/projects/28364651/packages/conan
          conan config set general.revisions_enabled=1
          conan user "${{ secrets.GITLAB_USERNAME }}" -r gitlab -p "${{ secrets.GITLAB_ACCESS_TOKEN }}"

      - name: Create glad conan package
        run: |
          conan create . glad/0.1.34@snv/stable -pr="${{ matrix.os }}_${{ matrix.compiler }}" -s build_type=Debug
          conan create . glad/0.1.34@snv/stable -pr="${{ matrix.os }}_${{ matrix.compiler }}" -s build_type=Release

      - name: Dry package upload
        if: ${{ github.event_name == 'pull_request' }}
        run: conan upload glad/0.1.34@snv/stable --all --check --skip-upload --remote gitlab

      - name: Upload package to GitLab
        if: ${{ github.event_name == 'push' && github.event.ref == 'refs/heads/master' }}
        run: conan upload glad/0.1.34@snv/stable --all --check --remote gitlab
